@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white; 
  }
  .skill {
    @apply px-3 py-1 bg-indigo-50 text-indigo-700 rounded-full;
  }
  .stat-card {
    @apply bg-white shadow rounded-xl p-5 text-center;
  }
  .stat-card h4 {
    @apply text-sm text-gray-500;
  }
  .stat-card p {
    @apply text-2xl font-bold text-indigo-600 mt-1;
  }
  .btn-primary {
    @apply px-5 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700;
  }
  .btn-outline {
    @apply px-5 py-2 border border-indigo-600 text-indigo-600 rounded-lg hover:bg-indigo-50;
  }
}


.border-animation {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.border-animation::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  border-radius: 20px;
  width: 0;
  background-color: blue;
  transition: width 0.4s ease;
}


.border-animation:hover::before {
  width: 100%;
}

.bg-home{
  filter:drop-shadow(0px 0px 0.1px rgb(8, 8, 78))
}
.box_shadow{
  box-shadow: 5px 5px 0px rgb(126, 35, 169);
}
.box_shadow2{
  box-shadow: 2px 2px 0px rgb(126, 35, 169);
}


.image-shack-animation{
  animation:shack 1s linear infinite
}

@keyframes shack{
  100%,0%{
    transform: translateY(1px) ;
  }
  50%{
    transform: translateY(7px) ;
  }
}

.image-shack-animation2{
  animation:shack 1s linear infinite
}

@keyframes shack{
  100%,0%{
    transform: translateY(1px) ;
  }
  50%{
    transform: translateY(10px) ;
  }
}

.card-show{
  overflow: hidden;
}

.card-show::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  background: rgb(144, 117, 117);
  top: -20px;             
  right: -30px;           
  transform: rotate(-30deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 1;             
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
 
}

.card-show::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  background: rgb(144, 117, 117);
  top: -20px;             
  left: -38px;           
  transform: rotate(10deg);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;             
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}


.card-show:hover::after{
    content: "";
  position: absolute;
  width: 10px;
  height: 9px;
}

.card-show:hover::before{
    content: "";
  position: absolute;
  width: 10px;
  height: 9px;
}

.platform-for-card{
  position: relative;
  overflow: hidden;
}
.platform-for-card::after{
 content: "";
 position: absolute;
 top:-15px;
 left:-10px;
 width:50px;
 transform: rotate(30deg);
 border-top-right-radius:50%;
 border-bottom-right-radius:50%;
 height:80px;
 transition:  all 0.3s ease-in;
 background-color:blue;
}
.platform-for-card:hover:after{
  content:"";
  width:0;
  height:0;

}

.choose-card::after{
   content: "";
 position: absolute;
 top:-15px;
 right:-10px;
 width:50px;
 transform: rotate(140deg);
 border-top-right-radius:50%;
 border-bottom-right-radius:50%;
 height:80px;
 transition:  all 0.3s ease-in;
 background-color:rgb(255, 0, 212);
}
.choose-card:hover::after{
  content:'';
  width:0;
  height:0;
}

.course-cards::after{
  content: "";
 position: absolute;
 top:-15px;
 right:-10px;
 width:50px;
 transform: rotate(140deg);
 border-top-right-radius:50%;
 border-bottom-right-radius:50%;
 height:80px;
 transition:  all 0.3s ease-in;
 background-color:rgb(44, 44, 83);
}
.course-cards::before{
  content: "";
 position: absolute;
 top:-15px;
 left:-10px;
 width:50px;
 transform: rotate(30deg);
 border-top-right-radius:50%;
 border-bottom-right-radius:50%;
 height:80px;
 transition:  all 0.3s ease-in;
 background-color:rgb(44, 44, 83);
}

.course-cards:hover::after,.course-cards:hover::before{
  width:0;
  height:0;
}

